{% extends 'bases/base.html' %}
{% load static %}


{% block main %}
    <div>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>

        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>
        <p>ceci est la page des details de chaque publication</p>

    </div>
{% endblock main %}
    