{% extends 'bases/base.html' %}
{% load static %}


{% block main %}
    <div>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <p>distributeur : {{annonce.distributeur}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p>Plat offert : {{annonce.plat}}</p>
                </div>
                <div class="col-sm">
                    <img src="{{annonce.image.url}}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    localisation : {{annonce.distributeur.localisation}}
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>

{% endblock main %}
    