{% extends 'bases/base.html' %}
{% load static %}


{% block main %}
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
    <p>ceci est la page d'inscription</p>
{% endblock main %}
    